# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** <br>
* List popular languages for Data Science
* List popular libraries used by Data Scientists
* List Data Science tools

Some of the popular languages that Data Scientists use are: <br>
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include: <br>
1. TensorFlow.
2. SciPy.
3. NumPy.
4. Pandas.
5. Pytorch

|Data Science Tools| 
| --- |
|Jupyter Notebook| 
|RStudio| 
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
eval = (3*4)+5
print(eval)
print(eval==17)

17
True

In [7]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 6)

33.333333333333336

## Author <br>
Aiswarya Baby